body {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color:lightblue;
    padding:0%;
    margin:0%;
    background-image: url('images/glob.gif');
    background-size: cover;
}

.tile {
    position: relative;
    background-color: white;
    border: 2px solid black;
    width: 100%;
    max-height: fit-content;
    box-sizing: border-box;
    aspect-ratio: 1 / 1; /*makes tiles square*/
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 0%;
    margin: 0%;

}

.dayNum {
    padding:0%;
    margin: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
}



.tile:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
}



.tileGroup{
    background-color: red;
    display: grid;
    
}



.weekdayRowDiv {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns side-by-side */
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 2px solid blue;
    width: 100%;
    padding:0px;
    margin:0px;
}

.weekday{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 0px 0;
    margin: 0px;
    border-right: 2px solid black;
}

.monthOfYear{
    color:red;
    text-align: center;
    padding-bottom: 35xpx;
}


.calendar{
    opacity:100%;
    position:relative;
    top:7.8vh;
}

/*for pc */
@media (min-width: 1024px) {
    .tileGroup {
        height: 80vh;
        position:relative;
        
        /*aspect-ratio: 1 / 1; may or may not need */
        grid-template-columns: repeat(7, 1fr); /* 7 columns for calendar */
    }
    .tile {
        aspect-ratio: 1 / 1; /* keep square */
    }
}




/*for phone */
@media (max-width: 481px){
    .calendar{
        top:0%;
        width: 100%;
    }

    .weekdayRowDiv{
        width:100%;
    }

    .tileGroup{
        height: 107.2vw;
        position:relative;
        grid-template-columns: repeat(7, 1fr); /* 7 columns for calendar */
        
    }
    .tile{
        aspect-ratio: 1 / 1.25; /* keep square */
    }
}







