body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    background-color:lightblue;
    padding:0%;
    margin:0%;
}

.tile {
    background-color: white;
    border: 2px solid black;
    flex: 1 1 300px;  /*responsive width*/
    max-width: 14.2%;  /*essentially decides how many tiles per row in calendar*/
    max-height: fit-content;
    padding: 1rem;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;    /*makes tiles square*/
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;     /* smooth corners */
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2); /* subtle shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}


.tile:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
}













